# First running this command in shell to make the network: docker network create ai-net
HOST_IP=changeme

OPENWEBUI_CONTAINER_NAME=open-webui
ENABLE_PERSISTENT_CONFIG=changeme
WEBUI_URL=changeme

# Integration AI
OPENAI_API_BASE_URL=http://litellm-proxy:4000/v1
LITELLM_API_KEY=changeme

# Embedding RAG
RAG_EMBEDDING_MODEL=BAAI/bge-m3

# Web Search
ENABLE_WEB_SEARCH=true
WEB_SEARCH_ENGINE=searxng
SEARXNG_QUERY_URL=http://searxng:8080/search?q=<query>


# OIDC
# ENABLE_OAUTH_PERSISTENT_CONFIG=changeme
# OAUTH_CLIENT_ID="changeme"
# OAUTH_CLIENT_SECRET="changeme"
# OAUTH_PROVIDER_NAME="changeme"
# OPENID_PROVIDER_URL="changeme"
# OPENID_REDIRECT_URI="changeme"
# ENABLE_OAUTH_SIGNUP="true"
# ENABLE_LOGIN_FORM="false"
# ENABLE_PASSWORD_AUTH="false"
# OAUTH_MERGE_ACCOUNTS_BY_EMAIL="true"
